
.desktop svg { width: 80% }
.container-fluid{ margin-top: -50% }


/* Extra small devices (phones, less than 768px) */


@media (max-width: 400px) {

  .mobile svg { width: 100% }
  .container-fluid{ margin-top: -100% }

}

@media (min-width: 400px) {

  .mobile svg { width: 80% }
  .container-fluid{ margin-top: -60% }

}

@media (min-width: 600px) {

  .mobile svg { width: 60% }
  .container-fluid{ margin-top: -40% }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .mobile svg { width: 100% }
  .container-fluid{ margin-top: -27%; }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .desktop svg { width: 90% }
  .container-fluid{margin-top: -23%;}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:  1200px ) {

  .desktop svg { width: 80% }
  .container-fluid{ margin-top: -20%; }

 }
